body
{
  display:flex;
  justify-content:center;
}

.container
{
  width:600px;
  height:500px;
  background-color:#bccdde;
  display:flex;
 align-items:center;
  flex-direction:column;
 /* background-image:url("https://drive.google.com/uc?id=16ThD0zDxWSPnj0gO5gYXSpw-dbmFzG6r");*/
}
h1
{
  font-family: 'Pacifico', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Permanent Marker', cursive;
/*  text-align:center;*/
  color:white;
  padding-top:10px;
}
.start
{
  margin-top:50px;
  width:210px;
  height:40px;
  font-size:20px;
  background-color:#7fcd91;
  border-style:solid;
  border-color:#7fcd91;
    /*#7fcd91;*/
  color:white;
  font-family: 'Pacifico', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Permanent Marker', cursive;
  
}

.start:hover
{
  border-color:white;
}
.decoration
{
  width:200px;
  height:200px;
  background-image:url("https://drive.google.com/uc?id=1qo-ia3UjmScnDahd_PNYNU0nKb4_6FcL");
  background-size:cover;
}
.text
{
  font-size:30px;
}
.balloon.green{
  position:absolute;
  width:40px;
  height:53px;
  background-image: url('https://drive.google.com/uc?id=1lZ6CovmDWxaP3Dr5yjT1qTgob0oLeWBI');

}
